.Navbar{
    background-color: #750b0b;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    height: 3rem;
    color: white;
}

.section1,.section2,.section3{
    display: flex;
    align-self: center;
}
 .section2 {
    list-style: none;
    margin-left: -5rem;
 }
 .section2 li a{
    font-size: 18px;
    margin: 0 1.5rem;
    text-decoration: none;
    color: white;
    
 }
 .section1 h1{
 font-size: 1.5rem;
 }
 .section1 img{
  height: 2rem;
  width: 2rem;
  border-radius: 5px;
 margin-right: 0.5rem;
  align-self: center;
 }